body{
  margin: 0;
}
.box{
  height: 50vh;
  display: flex;
  overflow-y: hidden;
}
.top-box{
  background-color: gray;
}
.editor-container{
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  padding: .5rem;
  background-color: gray;
}
.editor-container.collapsed {
  flex-grow: 0;
}
.CodeMirror-scroll{
  position: absolute !important;
  overflow: hidden !important;
}
.editor-title{
  display: flex;
  background-color: black;
  justify-content: space-between;
  padding: .5rem .5rem .5rem .5rem;
  color: white;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}
.editor-title button{
  margin-left: .5rem;
  padding: auto;
  text-align: center;
}

.CodeMirror{
  height: 100% !important;
}

.code-mirror-wrapper{
  flex-grow: 1;
  /* overflow: hidden; */
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}